.closebtn{
   cursor: pointer;
 
    position: absolute;
    border-bottom: 18px solid #FAFAFA;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 70px;
    right: -53px;
    top: 270px;
    transform: rotate(-90deg);
}

.triangle-close{
    height: 10px;
    transform: rotate(90deg);
    padding-left: -5px;
    position: absolute;
    top: 2px;
    left: 25px;
}

/* .closebtn:before {
    content: "";
    position: absolute;
    left: -12px;
    height: 70px;
    /* padding-left: 41px; */
    /* width: 10px;
    transform: skew(-15deg); */
    /* transform-origin: top left; */
    /* z-index: 1;
    background-color: #0B3366; */

  