.side-menu-wrapper{
     background-color: #0B3366;
     color : white;
     height: 100%;
     width:  219px;
     position: absolute;
     overflow: hidden;
     left: 0px;
     top: 0px;
    
}

.logo-adv{
    position: absolute;
    left: 33px;
    top: 19px;
}

.dashboard-items-container{
    display: flex;
    flex-direction: column;
    padding-top: 98px;
    gap: 24px;
}